@import "var";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100%;
  font-family: "Overpass Mono", monospace;
  scroll-behavior: smooth;

  @include laptopMedia {
    width: 100%;
  }
}

// custom scroll bar

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $dark-black;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
////////

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
// nav section

nav {
  display: flex;
  position: fixed;
  width: 60vw;
  height: 100vh;
  background-color: $gray-light;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1.5rem;
  transform: translateX(100%);
  transition: all 0.5s linear;
  z-index: 5;

  @include laptopMedia {
    left: 0;
    display: flex;
    background-color: unset;
    position: fixed;
    flex-direction: row;
    transform: translateX(0);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.555);
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0;
    margin: auto;
  }
  .nav-container {
    @include laptopMedia {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      height: auto;
      margin: auto;
      width: 80vw;
    }
  }

  .logo {
    padding-top: 0.5rem;

    @include laptopMedia {
      padding: 0;

      svg {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  .nav-menu {
    position: relative;

    @include laptopMedia {
      position: relative;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include laptopMedia {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
      }

      li {
        padding: 0.5rem 0;
      }
      .nav-item {
        a {
          // color: $dark-black;
          color: white;
          transition: all 0.25s linear;
        }
        a:hover, a:active {
          color: $green-dark;
        }
      }
      .nav-item-cta {
        margin-top: 1rem;
        position: relative;
        @include laptopMedia {
          align-self: center;
          margin: 0;
        }
        a {
          color: $green-light;
          background-color: #000000;
          background-image: linear-gradient(45deg, #000000 0%, #434343 74%);
          padding: 0.6rem 0.8rem;
          border-radius: 20px;
          transition: all 0.25s linear;
        }
        a:hover {
          color: $dark-black;
          background-color: $green-dark;
          background-image: linear-gradient(
            45deg,
            $green-light 0%,
            #434343 74%
          );
        }

        img {
          position: absolute;
          width: 20%;
          height: 100%;
          top: 50%;
          right: -0.5rem;
          transform: translateY(-50%);

          @include laptopMedia {
            animation: pencilAnim 6s linear infinite;
          }
        }
      }
    }
  }

  .active-item{
    a{
      color:$green-dark !important;
    }
  }

  @keyframes pencilAnim {
    0% {
      right: -0.5rem;
    }
    50% {
      right: 1.5rem;
    }
    100% {
      right: -0.5rem;
    }
  }

  //    hamburberg button

  .mobile-nav-btn {
    position: absolute;
    display: block;
    left: 0;
    transform: translateX(-100%);
    padding-right: 1rem;
    padding-top: 1rem;
    transition: display 0.3s linear;

    @include laptopMedia {
      display: none;
    }
  }

  .mobile-nav-close-btn {
    display: block;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    padding-top: 1rem;
    padding-right: 1rem;
    transition: display 0.3s linear;

    @include laptopMedia {
      display: none;
    }
  }
}

.activeElement {
  display: none !important;
}

// Header logic from here

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  background-image: url("/AboutMe/media/pic25.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
  }
  @include tabletMedia {
    background-position: 50% 25%;
  }
}

.mb-logo {
  position: fixed;
  left: 0.5rem;
  z-index: 10;
  svg {
    width: 3rem;
    height: 3rem;
  }
  @include laptopMedia {
    display: none;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0deg) !important;
  perspective: none !important;

  &:hover {
    transform: none !important;
    perspective: none !important;
  }
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -10px;
  z-index: 2;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;

    .social-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      padding-bottom: 0.5rem;

      .social-logo {
        position: relative;
        .fab {
          color: $gray-light;
          font-size: 1.5rem;
          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }
    }

    .profile-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-gap: 0.5rem;
      padding-bottom: 0.5rem;

      h3 {
        font-size: 1rem;
        font-weight: 500;
        color: $gray-light;
        letter-spacing: 0.2px;
        line-height: 1.5rem;
      }
      p {
        font-size: 0.7rem;
        font-weight: 400;
        color: $gray-light;
        letter-spacing: 0.2px;
        line-height: 1.1rem;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }

    .copyright {
      position: relative;
      padding-bottom: 1rem;

      p {
        font-size: 0.7rem;
        line-height: 1.1rem;
        letter-spacing: 0.2px;
        color: gray;
        padding-bottom: 0.3rem;
        .fas {
          color: purple;
        }
        a {
          color: $gray-light;
        }
      }
    }
  }
}

//comman code upto above

.portfolio-header-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .portfolio-title {
      font-size: 1.8rem;
      color: white;
      line-height: 2.4rem;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  
    .portfolio-hr {
      border: 1px solid $green-light;
      width: 4rem;
    }
  
    .portfolio-subtitle {
      text-align: center;
      font-size: 0.9rem;
      line-height: 1.4rem;
      letter-spacing: 0.2px;
      color: white;
      padding: 1rem;
    }
  
    .portfolio-header-btn {
      color: $dark-black;
      font-weight: 400;
      background-image: linear-gradient(45deg, $green-light 0%, #434343 74%);
      padding: 0.6rem 1.2rem;
      border-radius: 25px;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.1px;
      transition: all 0.25s linear;
  
      &:hover {
        color: $green-light;
        background-color: #000000;
        background-image: linear-gradient(45deg, #000000 0%, #434343 74%);
      }
    }
  }
  

  // custom code from here 

  .contact{
    position: relative;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tabletMedia{
      margin-bottom: 4rem;
    }
  }

  .contact-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @include tabletMedia{
      width: 78%;      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      margin: auto;
    }
  }

  .text-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .contact-title{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-width: 400px;
      width: 70%;
      @include tabletMedia{
        width: 50%;
      }

      h2{
        font-size: 1.4rem;
        color:$gray-light;
        font-weight:700;
        letter-spacing: 0.2px;
        line-height:1.7rem;
        text-align: center;
        margin-bottom: 0.5rem;      
      .waving_hand{
        width:25px;
        height:25px;
        img{
        width:25px;
        height:25px;
        }
      }
    }

      p{
        font-size: 0.7rem;
        color:$gray-light;
        font-weight: 400;
        letter-spacing: 0.3px;
        text-align: center;
        line-height: 1.1rem;
       @include tabletMedia{
         line-height: 1.1rem;
       }
      }
    }
  }

  .contact-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    max-width: 234px;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 1rem;
    background-color:$gray-light;
    padding: 1.5rem 1rem ;
  }
  .contact-info-card{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0.3rem;

    .icon{
      font-size: 0.8rem;
      color:$dark-black;
      padding-right:5px;
    }

    .text{
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.2rem;
      letter-spacing: 0.3px;
    }
  }

  .contact-hr{
    width:100%;
    background-color: white;
    height: 1px;
    border: none;
    margin: 0.5rem 0;
  }

  .social-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;

    span{
    font-size: 0.8rem;
    font-weight: 500;
    padding-right: 20px;
    }

    a{
      padding: 5px;
      margin: 0 5px;
      background-color: #ffffff;
      height: 27px;
      width:27px;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 12px;
      color: $green-dark;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: black;
        color:white;
      }
    }
  }

  .form-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 70%;
    max-width:234px;
    background-color: white;
    padding: 0.5rem 0 1.3rem 0;
    border-radius: 10px;
  }

  .mb-3{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem auto;

    ::placeholder{
      color: gray;
      font-size: 0.7rem;
    }
  }

  input{
   width: 90%;
   height: 28px;
   background-color: $gray-light;
   border:none;
   border-radius: 5px;
   padding-left: 25px;
   &:focus{
     border: none;
     outline: none;
   }
  }
  textarea{
    width:90%;
    background-color: $gray-light;
   border:none;
   padding-left: 25px;
   border-radius: 5px;
   &:focus{
    border: none;
    outline: none;
  }
  &::placeholder{
    padding-top: 5px;
  }
  }
  .fas{
    position: absolute;
    left:20px;
    font-size: 12px;
    color: rgb(88, 88, 88);
   
  }
.fas.fa-align-justify{
  top:5px;
}

.button-area{
  width:90%;
  margin: auto;
  button{
    padding: 0.4rem 0.6em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: $green-dark;
    color:black;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.1px;

    &:hover{
      background-color: $green-light;
      letter-spacing: 0.4px;
    }
  }
  span{
    color:black;
    font-size: 0.6rem;
    padding-left: 0;
    font-weight: 400;
    display: none;
  }
}

